


<!-- <div style="text-align: center ;margin-bottom:20px;">
    <img src="\assets\imgs\HomeBackground.jpg" height="400px" >
</div> -->
<h3>Projects</h3>
<div class="row"  >
    <div class="col-lg-4 col-md-12">
        <nb-card>
            <nb-card-header><a [routerLink]="['/avc']" routerLinkActive="router-link-active"><i class="fas fa-procedures" style="font-size:50px;"></i></a></nb-card-header>
            <nb-card-body>
                <h4>Stroke Prediction</h4>
            </nb-card-body>
            <nb-card-footer>Predict your stroke tendency based on your health indices.</nb-card-footer>
        </nb-card>
    </div>
    <div class="col-lg-4 col-md-12">
        <nb-card>
            <nb-card-header><a [routerLink]="['/cars']" routerLinkActive="router-link-active"><i class="fas fa-car" style="font-size:50px;"></i></a></nb-card-header>
            <nb-card-body>
                <h4>Car Price Estimation</h4>
            </nb-card-body>
            <nb-card-footer>Estimate the price of your used car based on a large set of second-hand market price data.</nb-card-footer>
        </nb-card>
    </div>

    <div class="col-lg-4 col-md-12">
        <nb-card>
            <nb-card-header><a [routerLink]="['/mask']" routerLinkActive="router-link-active"><i class="fas fa-head-side-mask" style="font-size:50px;"></i></a></nb-card-header>
            <nb-card-body>
                <h4>Face Mask Detection</h4>
            </nb-card-body>
            <nb-card-footer>Detect the wearing of the mask on a group of individuals based on facial recognition.</nb-card-footer>
        </nb-card>
    </div>

</div>

<h3>Authors</h3>
<div class="row" style="margin-left: 100px;margin-right: 100px;">
    <div class="col-lg-4 col-md-12">

        <nb-card>
            <nb-card-header><h5>Alban Roullier-gall</h5></nb-card-header>
            <nb-card-body  style="text-align: center;"><img src="\assets\imgs\alban.jpg" width="350px" height="400px"></nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4 col-md-12">
        <nb-card>
            <nb-card-header><h5>Alfonso Casucci</h5></nb-card-header>
            <nb-card-body style="text-align: center;"><img src="\assets\imgs\alfonso3.png" width="400px" height="400px"></nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4 col-md-12">
        <nb-card>
            <nb-card-header><h5>Sacha Sahiouni</h5></nb-card-header>
            <nb-card-body style="text-align: center;"><img src="\assets\imgs\sh.jpg" width="400px" height="400px"></nb-card-body>
        </nb-card>
    </div>
    



</div>
<div  style="text-align:center;margin-left: 100px;margin-right: 100px;margin-top: 150px;">
        <h2 >Merci pour tout !</h2><br>
        <h5>Merci à  Rosalia, à Maryline, à Romain et à Khun mais aussi à tous les formateurs de Bstorm et de TRIPTYK
                pour votre aide, votre soutien et vos enseignements !</h5>
</div>
<div class="row" style="margin-left: 100px;margin-right: 100px;margin-top: 100px;">
    <div class="col-lg-4 col-md-12">

        <nb-card>
            
            <nb-card-body  style="text-align: center;"><img src="\assets\imgs\bstorm.png" width="300px" height="300px"></nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4 col-md-12">
        <nb-card>
            
            <nb-card-body style="text-align: center;"><img src="\assets\imgs\logoTechnocite.jpg" width="450px" height="300px" ></nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-4 col-md-12">
        <nb-card>
            
            <nb-card-body style="text-align: center;"><img src="\assets\imgs\triptyk.png" width="300px" height="300px"></nb-card-body>
        </nb-card>
    </div>
    



</div>


